.search-wrapper {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  align-items: center;
}

.search-input {
  width: 50%;
  padding: 0.6rem 1rem;
  border-radius: 999px;
  border: 2px solid #fcd34d; /* 노란색 */
  font-size: 1rem;
  outline: none;
}

/* 버튼 스타일은 인라인 스타일로 지정하였으나 필요하면 여기서도 정의 가능 */
