.register-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 검정 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 적당히 높게 설정하되 전체를 덮을 정도까지만 */
}

.register-logo img{
  position: absolute;
  width: 142px;
  height: 142px;
  left: 50%;
  transform: translateX(-50%);
  top: 13px;
}

/* 이름 */
.register-name {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 144px;
}

/* 이메일 */
.register-email {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 198px;
}

/* 비밀번호 */
.register-password {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 252px;
}

/* 비밀번호 확인 */
.register-checkPassword {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 306px;
}

/* 가입하기 버튼 위치 */
.register-area {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 375px;
}

/* 가입하기 버튼 */
.register-area-button {
  font-family: 'Noto Sans KR', sans-serif;
  width: 450px;
  height: 25px;
  background: #FFE180;
  border-radius: 5px;
  font-size: 10px;
  line-height: 11px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.register-content {
  position: relative;
  width: 550px;
  height: 470px;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  z-index: 1001; /* 백드롭보다 위 */
}

/* 텍스트 */
.register-text {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 10px;
  color: #A1A1A1;
  margin: 0;
  margin-left: 1px;
}

/* 텍스트 입력창 */
.register-context {
  border: 1px solid #D2D2D2;
  width: 450px;
  height: 25px;
  border-radius: 5px;
}