@font-face {
  font-family: 'DNFBitBitv2';
  src: url('/fonts/DNFBitBitv2.woff2') format('woff2');
}

/* ProductCard.css */
.product-card {
    position: relative;
    min-width: 288px;
    max-width: 288px;
    height: 446px;
    border: 1px solid #ddd;
    border-radius: 0px;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
}

.top-box {
  position: relative;          /* 기준 잡기 */
  display: flex;
  justify-content: center;     /* 가로 중앙 정렬 */
  align-items: center;         /* 세로 중앙 정렬 */
  height: 280px;               /* 원하는 높이 지정 */
  background-color: #f9f9f9;   /* 보기 편하게 예시 배경 */
}

.product-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.product-heart {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
}

.bottom-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 160px; /* 카드 높이에 맞춰 조정 */
  padding-top: 1rem;
  box-sizing: border-box;
}

.top-title {
    left: 0px;
    top: 0px;
    font-family: 'DNFBitBitv2', sans-serif;
    text-align: left;
}

.product-categories {
  font-size: 0.9375rem;
  padding-left: 0.6rem;
  color: #000000;
  margin: 0.5rem 0;
}

.product-title {
  font-size: 0.9375rem;
  padding-left: 0.6rem;
  color: #999999;
  margin: 0.5rem 0;
}

.product-price {
  color: #000000;
  font-family: 'DNFBitBitv2', sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
}

.bottom-title {
  text-align: right;
  padding-right: 1rem;
  margin-top: auto;
}