.title {
  position: relative;              /* 기준점 */
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;         /* 가운데 정렬 */
  padding: 0 1rem;
}

/* 가운데 고정 */
.logo {
  background-image: url('src/assets/main_logo.png');
  width: 142px;
  height: 142px;
  background-size: cover;
}

/* 오른쪽 고정 */
.sideBar {
  position: absolute;             /* 위치 고정 */
  right: 1rem;                    /* 오른쪽 여백 */
  top: 50%;                       /* 세로 가운데 */
  transform: translateY(-50%);
  display: flex;
  gap: 3.5rem;
}
.cart {
  background-image: url('src/assets/shop.png');
  width: 31px;
  height: 31px;
  background-size: cover;
}

.myInfo {
  background-image: url('src/assets/myInfo.png');
  width: 31px;
  height: 31px;
  background-size: cover;
}

.menu {
  background-image: url('src/assets/menu.png');
  width: 31px;
  height: 31px;
  background-size: cover;
}
